*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #181818;
}
.banner{
    background-image: linear-gradient(90deg,#181818  40%,hsla(0,0%,9%,.92) 45%,hsla(0,0%,9%,.9) 50%,hsla(0,0%,9%,.87) 55%,hsla(0,0%,9%,.82) 60%,hsla(0,0%,9%,.75) 65%,hsla(0,0%,9%,.63) 70%,hsla(0,0%,9%,.45) 75%,hsla(0,0%,9%,.27) 80%,hsla(0,0%,9%,.15) 85%,hsla(0,0%,9%,.08) 90%,hsla(0, 2%, 87%, 0.03) 95%,hsla(0, 60%, 98%, 0)),url(assets/jpg/banner/banner15.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    height: 90vh;
}
.banner .banner-contain{
    padding: 8% 8%;
}
.banner .banner-contain .banner-title h2{
    font-size: 1.9rem;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    padding: 2% 0%;
}
.banner .banner-contain .banner-title p{
    max-width: 550px;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    padding: 1% 0%;

}
nav .logo{
    width: 120px;
    object-fit: contain;
    margin: 1% 3%;
}
nav .profile{
    width:60px ;
    object-fit: contain;
    border-radius: 50%;
    border: 4px solid white;
    height: 60px;
    max-width: 100%;
    margin: 1% 3%;   
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #666;
    color: #666;
}
footer h1{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;

}
footer .row{
    display: flex;
    align-items: flex-start;
    padding: 1% 0%;
}
footer .col a{
    text-decoration: none;
    color: #666;
    font-size: 20px;
    font-weight: 400;
    display: block;

}
footer .col{
    margin: 2% 1%;
}
.lang{
    background-color: transparent;
    border-radius: 4px;
    border: 3px solid #777;
    font-size: 1rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    color: #777;
}
footer p{
    color: #777;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 8px;
}
.banner .banner-contain .banner-title img{
    width: 400px;
    height: 140px;
} 
.banner .container1{
    height: 100px;
}
.banner .container1 .container1-title img{
    width: 90px;
    height:90px;
    margin: -10px;
}
.banner .container1 .container1-title p{
    padding-top: 1.5rem;
    font-size: 20px;
    font-weight: 500;
}
.banner .container1{
    max-width: 100%;
    margin-top: 1rem;
    display: flex;
    height: 70px;
    background-image: linear-gradient(90deg,#333 5%,#181818 95%);
    box-shadow: 8px 5px 16px 0 rgba(0,0,0,.37);
    justify-content: space-between;
}
.banner .container1 .container1-title{
    display: flex;
}
.banner .container1 button{
    background-color: #E50914;
    color: #fff;
    font-size: 12px;
    padding: 2px 25px;
    margin: 1.5% 3%;
    box-sizing: content-box;
    border-radius: 2px;
    border: none;  
}